.experience {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification1 {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  width: 28rem;
  height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  font-size: 20px;
  position: relative; /* Added for positioning pseudo-elements */
}

.notification1:before {
  position: absolute;
  content: "";
  inset: 0.0625rem; /* Adjusted to match the other values */
  border-radius: 0.9375rem;
  z-index: 2;
}

.notification1:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification1:hover:after,
.notification1:hover .notititle,
.notification1:hover .notibody {
  transform: translateX(0.15rem); /* Adjusted for consistency */
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notibody,
.notiTime {
  color: #c4c4c9; /* Adjusted color for better readability */
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
  font-size: 1.2rem;
  margin-top: 10px;
}

.notiTime {
  color: #99999d; 
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification1:hover .notiglow,
.notification1:hover .notiborderglow {
  opacity: 0.1;
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}


@media (width <=600px) {
  
  .experience {
    height: 40vh;
  }
  .notification1{

    width: 50rem;
    font-size: 3rem;
  }
  .notititle{
    font-size: 2rem;
  }
  .notiTime{
    font-size: 1.5rem;
  }
  .notibody{
    font-size: 2rem;
  }

}


