.bubbles {
  position: relative;
  display: flex;
  /* overflow: hidden; */
}


.bubbles span {
  position: relative;
  width: 5rem;
  height: 5rem;
  background: #4fc3dc;
  margin: 0 4px;
  width: 44rem;
  height: 50rem;
  opacity: 0.6;
  box-shadow: 0 0 0 1rem #4fc3dc44, 0 0 50px #4fc3dc, 0 0 1rem #4fc3dc;
  animation: bubbles 2s ease infinite;
  animation-delay: calc(125s / var(--i));
  margin-top: 5rem;
  border-top-left-radius: 80%;
  border-top-right-radius: 40%;
  /* animation: wave 55s infinite linear; */
  
}






.bubbles span:nth-child(even) {
  background-color: #ff2d75;
  box-shadow: 0 0 0 1rem #4fc3dc44, 0 0 50px #4fc3dc, 0 0 1rem #4fc3dc;
}

/* 
@keyframes bubbles {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */