


.bubbles {
  position: relative;
  display: flex;
}


.bubbles span {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 10px #4fc3dc;
  animation: bubbles 2s ease infinite;
  animation-delay: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: #ff2d75;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 10px #4fc3dc;
}

@keyframes bubbles {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-20vh) scale(1);
  }
}
