.nav-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    z-index: 11111;
    margin-top: 1rem;
}

.Logo {
    width: 20vw;
    height: 4.7rem;
    transform: scale(.8);
}

.nav-content {
    display: flex;
    gap: 2rem;
}

.nav-fontsize {
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.links:hover {
    color: #89CFF0;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--blue);
    transition: all 0.3s ease;
}

.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.open .line:nth-child(2) {
    opacity: 0;
}

.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

@media screen and (max-width: 600px) {
    .nav-content {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        padding: 20px;
    }

    .nav-main.open .nav-content {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}
