.nav-main { 
    position: fixed;
    right: 0;
    left: 0;
    height: 3rem;
    width: 35rem;
    margin: 12px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 11111;
}
.Logo{
    width: 20vw;
    height: 8rem;
    /* background-color: red; */
    /* right: 40rem; */
    left: 2rem;
    position: absolute;
    transform: scale(.8);
    z-index: 1111;
}

.nav-logo {
    height: 3.7rem;
    width: 10rem;
    margin: 5px;
    filter: blur(0px);
}

.nav-content {
    position: relative;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-fontsize {
    font-size: 1.6rem;
    word-spacing: 1;
    letter-spacing: 1.5px;
    position: absolute;
}

.links {
    position: relative;
}

.links::after {
    content: "";
    height: 1px;
    width: 0px;
    background: var(--blue);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    right: 0%;
    transition: 0.5s;
}

.links:hover::after {
    width: 100%;
    left: 0%;
}

.links:hover {
    color: #89CFF0;
    cursor: pointer;
}

.theme-checkbox {
    --toggle-size: 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}
