.Hero {
  width: 100%;
  height: 100vh;
}

.hero-sction-1 {
  width: 100vv;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.hero-section-intro {
  height: 100vh;
  width: 60%;
}

.hero-section-profile {
  height: 100vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-Back {
  width: 100%;
  height: 100vh;
}

.section-earth {
  width: 100%;
  justify-content: center;
}
.hero-Skill{
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 5rem;
}

.hero-h1{
  font-size: 3rem;
  font-weight: 800; 
  text-shadow: 1px 1px 1px #fff;
}
.hero-Back {
  position: absolute;
  left: 0;
  overflow: hidden;
}

.hero-exp {
  display: flex;
  flex-direction: row;
}

.hero-cerr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 50px;
  border-radius: 10px;
}

.hero-cerr2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.loader1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

.text {
  font-size: 2.6rem;
  font-weight: bold;
  fill: transparent;
  stroke: url(#textGradient);
  stroke-width: 2;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: textAnimation 2s ease-in-out infinite;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 700;
  }

  100% {
    stroke-dashoffset: 0;
  }
}


@media (width <=600px) {
  .hero-sction-1 {
    display: flex;
    flex-direction: column-reverse;

  }

  .hero-section-intro {
    height: 50vh;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }

  .hero-section-profile {
    height: 100vh;
    width: 100%;
  }

  .hero-Back {
    /* display: none; */
  }

  .hero-section-profile {
    margin-top: 20rem;
  }
}