/* styles.css */
.active-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50rem;
  color: #000;
  margin-top: 10rem;
}

.swiper-container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 2.5rem;
  height: 35rem;
  width: 45rem;
  overflow: hidden;
  transform: scale(1);
  transition: 1s ease-in-out;
  cursor: pointer;
}

.background-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.title {
  font-size: 1.5rem;
}

.content-text {
  font-size: 1.8rem;
}

.arrow-icon {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  width: 3.5rem;
  height: 3.5rem;
  color: rgb(14, 11, 11);
  transition: color 0.1s;
}

.slider-item:hover .arrow-icon {
  color: #3182ce;
  transform: rotate(45deg);
}



.background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-prev{
  background-color: red;
  /* Change the background color to red */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 15rem;
  background-image: url("./../../../../../Images/left-arow.png");

  background-size: cover;
}
 .swiper-button-next {
  background-color: white;
  /* Change the background color to red */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: 15rem;
  background-image: url("./../../../../../Images//right-aroww.jpg");
  background-size: cover;
 }
.swiper-button-prev::after, .swiper-button-next::after {
  content: none;
}
.swiper-pagination-bullet {
  background-color: white; /* Change the background color to red */
}
.cer-items:hover{
  transform: scale(.9);
  transition: 1s ease-in-out;
}
