.imges {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.lee,
.git,
.lin,
.hac {
  position: relative;

}



.git:hover::after, .lee:hover::after, .hac:hover::after, .lin:hover::after {
  opacity: 1;
  top: -20px;
  transition:  .5s ease-in-out;

}

.git::after {
  content: "Github";
  position: absolute;
  top: 20px;
  left: 8px;
  opacity: 0;
}


.lin::after {
  content: "LinkedIn";
  position: absolute;
  top: 20px;
  left: -2px;
  opacity: 0;

}

.lee::after {
  content: "LeetCode";
  position: absolute;
  top: 20px;
  left: -5px;
  opacity: 0;
}

.hac::after {
  content: "HackerRank";
  position: absolute;
  top: 20px;
  left: -5px;
  opacity: 0;
  transition: opacity 0.1 s ease-in-out;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}