.intro-section {
  position: absolute;
}

.hero-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.hero-name {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: .2rem;
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
  letter-spacing: 1.4px;
  z-index: 11;
  text-align: center;
}

.loader {
  height: .2rem;
  width: 30rem;
  background: var(--blue);
  position: relative;
  overflow: hidden;
}

.loader .black_overlay {
  background: linear-gradient(87deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.14) 30%,
      rgba(0, 0, 0, 0.14) 70%,
      rgb(0, 0, 0) 100%);
  position: absolute;
  inset: 0px;
}

.loader .light {
  width: 70px;
  height: 100%;
  position: absolute;
  left: -20%;
  top: 0px;
  background: linear-gradient(87deg,
      rgba(235, 8, 8, 0) 0%,
      rgb(8, 134, 166) 40%,
      rgb(0, 204, 255) 60%,
      rgba(0, 0, 0, 0) 100%);
  animation: light 2s infinite ease-in-out;
}

@keyframes light {
  from {
    left: -30%;
  }

  to {
    left: 100%;
  }
}


.hero-heading {
  margin-top: 10px;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-shine {
  padding: 4px 4px;
  background: linear-gradient(to right, #fff, #868686);
  background-position: 0;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  z-index: 11;
}

.btn-shine2 {
  display: flex;
  text-align: center;
  width: 95%;
  font-size: 1.4rem;
  margin-top: 1rem;
  background-position: 0;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  word-spacing: .2rem;
  color: rgb(161 ,161, 170 ,1);
}

.hero-Links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  gap: 2.5rem;
}






.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0.2rem 2rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 1.5rem;
  margin-top: 2rem;
  z-index: 11;
  background-color: #000;
  
}

.button:hover {
  transform: scale(1.05);
  border-color: #000;
}

.button::before {
  animation: shine 2s ease-out infinite;
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.468), rgba(255, 255, 255, 0.027) 50%);
  top: 0;
  left: -10rem;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.Btn {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  transform: scale(0.7);
}

.svgIcon {
  fill: rgb(214, 178, 255);
}

.icon2 {
  width: 1.8rem;
  height: .5rem;
  border-bottom: 2px solid rgb(182, 143, 255);
  border-left: 2px solid rgb(182, 143, 255);
  border-right: 2px solid rgb(182, 143, 255);
}

.tooltip {
  position: absolute;
  right: -10.5rem;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: rgb(150, 94, 255);
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}