@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --black: #121212;
  --darkblack: black;
  --blue: rgb(11, 138, 140);
  --obsidian: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: none;
}


html {
  font-size: 10px;
}


@media (width <=1000px) {
  html {
    font-size: 9px;
  }
}

@media (width <=800px) {
  html {
    font-size: 8px;
  }

}

@media (width <=650px) {
  html {
    font-size: 8px;
  }
}

@media (width <=390px) {
  html {
    font-size: 8px;
  }
}

body {
  background:#000;
  color: #fff;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}


/* Styles for the active link */
.active {
  border-bottom: 1px solid #73a4d9; /* Set your desired underline color and thickness */
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 2px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: white; Set the background color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0000; /* Set the background color of the scrollbar thumb */
  /* border: 1//px solid white; Set the border around the scrollbar thumb */
  border-radius: 4px; /* Add border radius to make it rounded */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Change the background color of the scrollbar thumb on hover */
}
