

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.footer-logo img {
  width: 100px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.info,
.footer-bottom {
  z-index: 3;
  color: aquamarine;
}


.section-waves {
  position: relative;
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../../../../../Images//wave.png');
  background-size: 1000px 100px;
}

.wave1 {
  animation: animate 20s linear infinite;
  z-index: 1111;
  opacity: 0.7;
  animation-delay: 0s;
  bottom: 0;
}

.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave3 {
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: 0.3;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 999;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position: 1000px;
  }
}