.card1 {
    padding: 1rem;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card1 .main-content1 {
    flex: 1;
}

.card1 .header1 span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: .4rem;
}

.card1 .header1 span:nth-child(2) {
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    margin-right: .4rem ;
}

.card1 {
    font-size: 1.4rem;
    margin: 2.4rem 0 1.6rem;
    font-weight: 600;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.heading1{
    font-size: 1.2rem;
    margin: 2.4rem 0 1.6rem;
    font-weight: 600;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}
 .categories1 {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    margin-top: 3rem;
}

.card1 .categories1 span {
    background-color: #e81cff;
    padding: .4rem .8rem;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 50em;
    color: #fff;
    transform: translateY(-50%);
    transition: transform .5s;
    position: relative;
}
.categories1 span{
    font-size: 2rem;
}
.card1 .footer1 {
    font-weight: 500;
    color: #717171;
    margin-right: .4rem;
}

.heading1 .header1 .categories1 {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.e-card {
    background: transparent;
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 6px 8px 20px 1px #af40ff;
}

.wave {
    position: absolute;
    width: 44rem;
    height: 70rem;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.icon {
    width: 3em;
}

.infotop {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 1.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.name {
    font-size: 1.4rem;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 21rem;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media ( width <= 400) {
    .e-card {
        background: transparent;
        position: relative;
        width: 10rem;
        height: 60rem;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 6px 8px 20px 1px #af40ff;
    }
}